
= render 'articles/design'

#page-wrapper
  .container-fluid
    .row
      .col-xs-12
        %h1
          The Invisible Hand of Jupiter
        %h4
          Alec Macfie

        %h4
          Source: <i>Journal of the History of Ideas</i>, Vol. 35, No.2 (Apr., 1927), pp. 198-232 (<a href="#citation">Cite this paper</a>)

        .table_of_contents
          %h4
            Contents
          %ol
            %li
              = link_to "Invisible Hands", '#'
            %li
              = link_to "Smith's History of Astronomy", anchor: "Smiths_Astronomy"
            %li
              = link_to "Before Smith's Time", anchor: "Smiths_Economics"
            %li
              = link_to "The Principle of Truth"
            %li
              = link_to "Conclusion", anchor: "Conclusion"
            %li
              = link_to "References", anchor: "references"
        .content  
          %h2#Introduction
            Invisible Hands
          %p
            This essay explores the epistemological foundations for the economic system that Adam Smith develops in <a href="http://en.wikipedia.org/wiki/The_Wealth_of_Nations">The Wealth of Nations</a>. Famously referred to as the great eclectic, Smith was known to draw upon a vast array of philosophical work to inform his own scholarship on moral philosophy and economics <a href="#references">(Viner 199)</a>. Prior to writing The Wealth of Nations, he produced a sophisticated treatise on the evolution of astronomical systems, <a href="http://www.jstor.org/discover/10.2307/23722838?uid=3739832&uid=2&uid=4&uid=3739256&sid=21104985485307">History of Astronomy</a> which reveals his philosophical beliefs about the roles and limits of system-building. This essay argues that the current literature on Smith underestimates the influence of these beliefs on the development of his economic system.

          
          %h2#Smiths_Astronomy
            Smith's History of Astronomy
          %p 
            Syntonic with his moral and economic philosophy, Smith places our passions and sentiments at the root of scientific inquiry in “History of Astronomy” (henceforth Astronomy). When we observe phenomena that are discordant with our own intuitions about the natural order of things, ‘Surprise’ and ‘Wonder’ take hold and produce in us a desire to know the “invisible chains,” or connecting principles, that smooth the <a>“passage of the imagination betwixt any two seemingly disjointed objects” (Astronomy S.II)</a>. It is the job of the philosopher, according to Smith, to search for these invisible chains, as well as to accommodate them into a system that attempts to render <a>“the whole course of the universe consistent and of a piece” (Astronomy S.III)</a>.

          %p 
            These principles are illustrated by Smith’s account of the astronomical systems that have been developed by natural philosophers over the course of several centuries to explain the discordant behavior of celestial objects. It is at its core a history of the interplay between theory and observation. According to Smith, the Sun, the Moon, and the Stars were <a>“naturally thought to have all the marks of being fixed,”</a> but observations of the irregular motion of these bodies prompted astronomers to search for invisible chains to preserve the systematicity of the universe <a>(Astronomy S.IV)</a>. The Greco-Roman philosopher Ptolemy, for example, developed a system of invisible Epicycles, while Descartes’ Cartesian system contained “invisible effluvia” that shaped planetary motion. The prevailing system in Smith’s day, the Newtonian system, <a>“introduced [...] complete coherence into the motions of all the Heavenly Bodies”</a> by using the principle of gravity as its invisible chain <a>(Astronomy S.IV)</a>. Importantly, Smith regarded Newton’s work as <a>“the greatest and most admirable improvement that was ever made in philosophy”</a> as it found <a>“one great connecting principle”</a> (gravity) that <a>“removed all the difficulties [felt by] the imagination” (Astronomy S.IV)</a>.

          %p
            That is not to say, however, that Smith regarded the Newtonian system as true. He regarded it instead as the system most fitted to <a>“soothe the imagination”</a> and <a>“render the theatre of nature [...]more coherent” (Astronomy S.II)</a>. But the actual relation between philosophical systems and truth in Smith’s account emerges at the conclusion of his essay:

          %blockquote
            <a href="#">And even we, while we have been endeavoring to represent all philosophical systems as mere inventions of the imagination, to connect together the otherwise disjointed and discordant phenomena of nature, have insensibly been drawn in, to make use of language expressing the connecting principles of this one,  as if they were the real chains which Nature makes use of to bind together her several operations (Astronomy S.IV)</a>.

          %p
            From this passage it is reasonably straightforward to deduce Smith’s epistemology: systems relieve us from surprise and wonder by explaining away discordance, but it is a mistake to conflate the system with the truth. Systems are <a>“mere inventions of the imagination.”</a> This point has been a source of some confusion among Smithian scholars, mostly because Smith seems to make claims about a priori truth in his other works while evaluating moral and economic systems. But ever the rhetorician, Smith chooses his words carefully, employing phrases like <a>“resemblance to truth” (TMS VII.iv.14)</a> and <a>“approximation to the truth” (WN IV.ix.38)</a> [emphasis added] to signal his awareness of the limitations of system-building. 
          %p
            From these phrases we can also deduce a second element of Smith’s epistemology—namely, that truth exists. In other words, Smith is not a <a>relativist</a>. He takes for granted that the universe is governed by natural laws which, if discovered, would <a>“lay open the concealed connections that unite the various appearances of nature” (Astronomy S.III)</a>. What makes philosophical systems inadequate is the absence of a <a>“reference which stands external to our mundane reasoning, and hence infallible and capable of adjudicating between true and false. [...]” (Khalil 1989)</a>.  But though the natural laws are ultimately out of reach, Smith does not resign himself to <a>“illusion, skepticism, and relativism” (Khalil 1989)</a>. Philosophy, in his view, is capable of producing an <a>“ever-improving grasp”</a> of Nature <a>(Khalil 1989)</a>. What Smith seems to have in mind is something like the Hegelian dialectic, in which alternative propositions are reconciled on a higher level of truth by a third proposition. <a>“The first systems,”</a> Smith writes, <a>“are always the most complex, and a particular connecting chain, or principle, is generally thought necessary to unite every two seemingly disjointed appearances: but it often happens, that one great connecting principle is afterwards found to be sufficient to bind together all the discordant phenomena that occur in a whole species of things” (Astronomy S.IV)</a>. Thus the <a>Newtonian system</a>, with gravity as its “great connecting principle,” not only soothes the imagination but also brings us within closer proximity to the truth.
          
          %h2#Smiths_Economics
            Before Smith's Time
          %p
            The emphasis that Smith gives to system-building in “History of Astronomy” rings a familiar tone for those who are well-versed in Smith’s later moral and economic doctrines. With a Newtonian spirit, <a>The Theory of Moral Sentiments</a> (1759) develops a system of moral philosophy based on sympathy, and The Wealth of Nations (1776) develops a system of economy based on self-interest.  In light of this body of work, most economic historians today consider Astronomy to be noteworthy mostly as an artifact of Smith’s intellectual development and not as an important doctrine in its own right. Campbell and Skinner, for example, suggest vaguely that the essay may tell us <a>“about Smith’s own drives as a thinker” (WN 1)</a>, and Diamond concludes yet more vaguely that <a>“it is plausible that [Smith’s scientific views] had a significant impact on his economics” (Diamond 32)</a>.
          %p 
            This essay supports a stronger claim. I believe that the principles sketched out in Smith’s Astronomy—his aesthetic and epistemological account of systems—bear crucially on his economics in WN, and I will endeavor to show that when the two works are read together, an unconventional picture of Smith’s economic system emerges. Moreover, I suggest that the synthesis of Smith’s astronomy and economics provides a way to resolve noted inconsistencies in WN, and may even help allay some of the confusion over the infamous Invisible Hand. 
          %p
            The hinge  of Smith’s economic system is self-interest.  <a>“It is not from the benevolence of the butcher, the brewer, or the baker, that we expect our dinner,”</a> Smith famously wrote, <a>"but from their regard to their own interest” (WN I.ii.2)</a>. This principle, which originated in Mandeville’s “Fable of the Bees” (1705), forms the basis for WN’s exposition of a whole array of economic phenomena, such as prices, distribution, and growth. In Smith’s theory of prices, for example, the self-interest of the merchant causes the market price of a commodity to fluctuate around its natural price — what economists today would call the long-run price equilibrium. Smith explains, 
            
          %blockquote 
            If at any time [quantity] exceeds the effectual demand, some of the component parts of its price must be paid below their natural rate, [prompting merchants] to withdraw a part of their labour or stock from this employment. The quantity brought to market will soon be no more than sufficient to supply the effectual demand. All the different parts of its price will rise to their natural rate, and the whole price to its natural price (WN I.vii.13).

          %p 
            Thus, Smith systematizes the fluctuation of prices, along with several other economic phenomena, by way of that “great connecting principle,” self-interest, and it is in this broad sense that most historians recognize a connection between Astronomy and WN. 
          
          %p 
            That historians do not try to push the connection much further than that is probably due to the fact that, in a significant respect, there does seem to be a disconnect between the two works. Whereas Astronomy goes to great lengths to spell out the epistemological limits of the systems that it extols (“mere inventions of the imagination”), WN seems to present its own system as the “real [chain] which Nature makes use of to bind together her several operations.” That is, Smith’s language conveys a great deal of certainty about the truth of his economic principles. For example he writes: “The exchangeable value of every thing must always be precisely equal to the extent of this power which it conveys to its owner” (WN I.v.3); and “The same real price is always of the same value” (WN I.v.10); and “Labour alone [...] never [varies] in its own value” (WN I.vii.7) [emphasis added]. This language of certainty seems to suggest either that Smith’s cautious attitude towards system-building in Astronomy had changed by the time of writing WN or that he simply did not apply it to the economic sphere.
          
          %h2#What_We_Usually_Get_Wrong
            The Principle of Truth
          %p 
            I do not think that either of these is correct. In my view, the gap between the two works is more apparent than real, and Smith’s rhetoric, rather than elucidating key differences between the two, obscures some of the important features that link them together. For one thing, WN’s system supposes that economic phenomena, like celestial phenomena, are “manifestations of an underlying order in nature, governed by natural forces” (Viner 198). This notion emerges most clearly from the terminology that Smith uses to describe his system: ‘natural price,’ ‘natural rate,’ and ‘natural recompence,’ for example, all denote features of the economy that obtain when markets are left to operate freely and without the interference of government. An even more explicit connection is drawn between the celestial and economic order in the phrase “disposition to truck, barter, and exchange,” as the word “disposition” has its origin in astrology (WN I.ii.4).  By supposing that natural laws govern markets as they do the sky, Smith initiated a “trend toward logically consistent synthesis of economic relationships, toward “system-building” (Viner 198). 
          
          %p 
            The second notable feature of WN that draws out its connection to Astronomy is the Newtonian character that Smith gives to his economic system. In expounding the price mechanism, for example, Smith explains, 

          %blockquote
            The natural price, therefore, is, as it were, the central price, to which the prices of all commodities are continually gravitating. Different accidents may sometimes keep them suspended a good deal above it, and sometimes force them down even somewhat below it. But whatever may be the obstacles which hinder them from settling in this center of repose and continuance, they are constantly tending towards it (WN I.vii.15) [emphasis added].

          %p
            The parallels that run between the economic and astronomical systems are here made explicit. Just as the “Planets [are] supposed to gravitate towards the sun,” the market price gravitates towards the natural price (Astronomy S.IV). And gravity, that great “invisible chain” in astronomy, has as its economic equivalent the connecting principle of self-interest. What’s significant about this passage, however, is not just that Smith develops a Newtonian metaphor, but that in doing so, he makes use of language that sounds oddly familiar to those who have read Astronomy. In that earlier work, Smith refers to the Sun as the “central fire;” characterizes the original conception of the Earth as “suspended;” mentions the “force” that directs Planets towards the Sun; and describes the Moon as “constantly falling towards” the Earth. The reappearance of this language in the passage above suggests that, in addition to drawing a connection to the Newtonian principles which appear in Astronomy, Smith is drawing a connection to Astronomy itself.
          
          %p 
            For these reasons, it is my view that Astronomy and WN are more profoundly connected than historians commonly suppose, and that, by reading them together, we can glean some insight into what Smith himself took to be the scope and purpose of his economic system. For one thing, it suggests that Smith kept in mind his earlier epistemological concerns while developing the principles of WN. That is, he remained cognizant of the limits of system-building, and considered his own system to be an “invention of the imagination” that, while providing relief from the wonder and surprise of discordant economic phenomena, could not uncover the “real chains” of Nature. If this is right, then self-interest, the system’s “invisible chain,” would not have been considered by Smith to be the true connecting chain by which nature governs economic order, but, rather more modestly, as a useful principle with which to account for discordance and “sooth the imagination” (Astronomy S.II). Thus by considering WN in conjunction with Astronomy, a different picture of Smith’s system emerges: it is no longer a hard-line treatise of alleged economic truths but rather a much more cautious attempt to “render the theatre of nature […] more coherent, and therefore a more magnificent spectacle” (Astronomy S.II).
          
          %p 
            This way of reading Smith may also shed light on how he understood his work in relation to other social scientists, such as David Hume and François Quesnay. As mentioned earlier, part of Smith’s epistemology looks something like the Hegelian dialectic in which, although natural laws are out of reach, philosophers can get closer to the truth by reconciling earlier propositions with a simpler set of connecting principles. Since Smith presumed that economic order, too, was governed by natural laws, it is likely that he understood his work to be situated in a historical trajectory of intellectual progress in which his work was neither the first word, nor the last. Put simply, he was a humble scholar. This trait comes through most clearly in his comments about Quesnay’s Tableau economique: “This system, […] with all its imperfections is, perhaps, the nearest approximation to the truth that has yet been published upon the subject of political oeconomy, and is upon that account well worth the consideration of every man who wishes to examine with attention the principles of that very important science” (Skinner 140).
          
          %p
            Since we cannot consult Smith himself to see whether the epistemological concerns in Astronomy inform the system-building in WN, the claims that I have been making will remain largely conjectural. Outside of Smith’s three published works, two sets of lecture notes, and a collection of correspondence letters, there is not much material from which to draw to verify these claims. Indeed, one could challenge what I have been saying by pointing out that the rhetorical parallels between the two works might be coincidental or that such parallels tend to appear in the work of any prolific writer. Or a more serious challenge — which I will try to address later on — is the question of why Smith presents his economic system with such conviction if, as I have suggested, his project takes a more cautious approach. What we can bring to bear on the issue, however, is the publication history of Astronomy. In 1773, just three years before finishing WN, Smith wrote a letter to his friend and colleague David Hume instructing that, should he fall ill, Hume was to destroy his “eighteen thin paper folio books” of unpublished work, with the one exception of “a fragment of a great work which contains a history of the Astronomical Systems” (Correspondence L.137). The fact that he spared Astronomy from the same fate as his other unpublished works suggests that its ideas remained important to him during the years that he was developing his own system, and it adds credibility to a reading of Smith that combines the two works.
          
          %p 
            Of course, I am not the first person to suggest that Smith’s WN is less dogmatic than the classical economists or their critics like to claim. Skinner, for example, observes that Smith “emphatically did not think in terms of ‘anarchy plus the constable’” (Skinner 204) and Viner disclaims that, “Adam Smith was not a doctrinaire advocate of laissez’faire” (Viner 231). But those who paint this sort of nuanced picture of Smith’s point of view tend to do so on the basis that his policy recommendations do not adhere to the principles of his economic system. They point out, for example, that while Smith’s system only allows for government intervention in cases of defense and justice, he nonetheless supports a much wider range of government activity, such as restrictive banking legislation and compulsory public education. In other words, where the two conflict, scholars assume that Smith prioritizes policy over principle. However, it is not convincing to deduce Smith’s actual point of view from the incongruities between system and policy since it fails to explain why the incongruities are there in the first place, and why they persist through the five editions of WN that were published during Smith’s life. A more compelling approach — which can be accomplished by reading WN together with Astronomy — is to consider the raison d’etre for Smith’s allowance of the incongruities given his philosophy of systems and his meticulous nature.
          
          %p
            Recall that, according to the interpretation presented in this paper, Smith understood his system to be part of a historical trajectory in which economic principles are continually simplified and consolidated to produce an “ever-improving grasp” of the natural economic order. Like the evolution of astronomical systems from Ptolemy’s Epicycles to Descartes’ effluvia to Newton’s gravity, Smith understood that his economic system would also continue to evolve as future social scientists try to account for the discordant phenomena that his system fails to explain. Aware of the limits of his own work, it makes sense that Smith proceeded with caution in the application of his general principles to particular policies. Indeed, in his earlier major work, The Theory of Moral Sentiments, Smith warns that systems should not introduce “frivolous accuracy [...] into subjects which do not admit of it” (TMS VII.iv.33), noting the consequences of doing so:
          %blockquote
            The vortices of Des Cartes were regarded by a very ingenious nation, for near a century together, as a most satisfactory account of the revolutions of the heavenly bodies. Yet it has been demonstrated, to the conviction of all mankind, that these pretended  causes of those wonderful effects, not only do not actually exist, but are utterly impossible, and if they did exist, could produce no such effects as are ascribed to them. But it is otherwise with systems of moral philosophy, and an author who pretends to account for the origin of our moral sentiments, cannot deceive us so grossly, nor depart so very far from all resemblance to the truth (TMS VII.ii.iv.14).

          %p
            Unlike systems in the realm of astronomy, systems describing human affairs can be checked against daily experience. Smith seems to exercise caution in applying his own system to matters where general principles are misaligned with lived experience or, in the terms of Astronomy, where the discordant phenomena of the natural economic order has yet to be systematized. For example, although Smith’s system does not support compulsory public education, the justification he offers for this policy is that the division of labor dulls the minds of the workforce and causes them to lose “the habit of such exertion” (WN V.i.f.50). We know from the achievements of modern economics that the policy he felt to be in the best interest of the state can now be systematically justified with the concept of a “negative externality.” Thus, the incongruity between system and policy in WN is a mark of Smith’s own caution in system-building. Cognizant of the fact that he had not yet systematized some of the discordant phenomena in the realm of economics, he allowed the interplay of experience and system to inform his policy positions, with the understanding that this interplay might lead to further refinement of the system. 
          %p
            My reading of Smith may also help bring some clarity to the long-running debate over the meaning of the infamous Invisible Hand. For all of the attention it has drawn, this phrase appears only three times in Smith’s work — one time each in Astronomy, TMS, and WN — and it is not evident how they relate to one another. Scholars have offered up countless interpretations: that it is “an ironic, but useful joke” (Rothschild 319); that it has a “theistic origin” (Ahmad 67); or that it is nothing more than a “pithy, forceful phrase” (Macfie 598). But considered in light of Smith’s epistemological views, the phrase seems both more consistent and more relevant than scholars today tend to presume. In Astronomy, Smith uses the “invisible hand” metaphor to describe the connecting principle of the primitive Stoical system, observing that the “irregular events of nature [...] are ascribed” by the Stoics to the “invisible hand of Jupiter” (Astronomy S.III). Like the invisible Epicycles of Ptolemy and invisible effluvia of Descartes, the “invisible hand” for the Stoics “[affords] the imagination a train of intermediate events, which, [...] unites those incoherent qualities” (Astronomy S.IV).  In a similar spirit, the “invisible hand” of TMS and WN seems to describe the connecting principle of the economic system:
          
          %blockquote 
            TMS: They are led by an invisible hand to make nearly the same distribution of the necessaries of life, which would have been made, had the earth been divided into equal portions among all its inhabitants, and thus without intending it, without knowing it, advance the interest of the society, and afford means to the multiplication of the species (TMS IV.i.10).
            
          %blockquote 
            WN: By preferring the support of domestick to that of foreign industry, he intends only his own security; and by directing that industry in such a manner as its produce may be of the greatest value, he intends only his own gain, and he is in this, as in many other cases, led by an invisible hand to promote an end which was no part of his intention. Nor is it always the worse for the society that it was no part of it (WN IV.ii.9).

          %p 
            In Smith’s system, the “invisible hand,” or connecting principle, that explains economic order is the propensity for men to pursue their own self-interest. By including the term in the exposition of his own system, he demonstrates once again his awareness that the system is a product of the imagination and that, like the “invisible” forces of the astronomical systems, it has its own epistemological limits. 
          
          %p 
            One important question remains: why does Smith present his economic system with such conviction if, as I have suggested, his project takes a more cautious approach? I posit that there are two reasons, the first having to do with his character and the second with his agenda. First, Smith saw value in system-building for its own sake, as an “original pleasure or good in itself” (Astronomy S.III). According to biographer Nicholas Phillipson, “For Smith [...] imagination and the love of system were two of the most powerful resources that had rescued humanity from extinction and had made progress possible. In the last resort they were faculties on which security, virtue, and happiness depended” (Phillipson 113). Thus, even if Smith remained cautious about the limits of his system, he nonetheless was confident about the value of building it. Second, Smith understood the need to put forth an authoritative voice in order to convince others to discard outmoded systems. In Astronomy, Smith points to the difficulty Copernicus faced in persuading people that the earth circles the sun, observing “how easily the learned give up the evidence of their senses to preserve the coherence of the ideas of their imagination” (Astronomy S.IV). In this way, his commitment to making progress towards the true nature of economic order drove his conviction to create a plausible system, even while knowing that it would not be the last word. 
          
          %h2#Conclusion
            Conclusion
          %p 
            I have endeavored to show that Smith’s epistemological beliefs in “History of Astronomy” inform the economic system that he expounds in The Wealth of Nations. If this reading of Smith’s work is correct, then he was a more cautious system-builder than is commonly understood, and we can make headway towards resolving the well-known puzzles contained within WN. But beyond its significance for our historical understanding of Smith, this account may also bear on the modern economist’s approach to economic investigation. It might suggest to us, for example, that economists ought to make their epistemological views explicit so as to clarify the roles and limits of the systems that they produce. Or it might suggest that it is acceptable to allow for incongruity between system and policy on the basis of experience. Whatever the lessons we draw from it, this portrayal of Smith suggests more modest aims and origins for the field of economics. 

        .citation
          %h2#citation
            Cite this paper
          <p>Khalil, Elias L. "Adam Smith and Albert Einstein: The Aesthetic Principle of Truth." History of Economics Society Bulletin 11.02 (1989): 222. Print.</p>
        
        .references
          %h2#references
            References
          %ul
            %li
              %a Macfie, Alec. "The Invisible Hand of Jupiter." Journal of the History of Ideas 32.4 (1971): 595-99. Print. 
            %li
              %a Phillipson, N. T. Adam Smith: An Enlightened Life. New Haven [Conn.: Yale UP, 2010. Print. 
            %li
              %a Rothschild, Emma. "Adam Smith and the Invisible Hand." The American Economic Review (1994): 319-22. Web. 
            %li
              %a Skinner, Andrew S. A System of Social Science: Papers Relating to Adam Smith. Oxford: Clarendon, 1979. Print. 
            %li
              %a Smith, Adam, Ernest Campbell Mossner, and Ian Simpson. Ross. The Glasgow Edition of the Works and Correspondence of Adam Smith. Indianapolis: Liberty Classics, 1987. Print. 
            %li
              %a Smith, Adam, R. H. Campbell, and Andrew S. Skinner. An Inquiry into the Nature and Causes of the Wealth of Nations. Oxford [Oxfordshire: Clarendon, 1976. Print. 
            %li
              %a Smith, Adam. The Theory of Moral Sentiments: Glasgow Edition. Indianapolis: Liberty Fund, 1976. Print. 
            %li
              %a Smith, Adam, W. P. D. Wightman, J. C. Bryce, Ian Simpson. Ross, and Dugald Stewart. Essays on Philosophical Subjects. Indianapolis: Liberty Classics, 1982. Print. 
            %li
              %a Stewart, Dugald. The Life and Writings of Adam Smith. Basileae: n.p., 1799. Print. 
            %li
              %a Viner, Jacob. "Adam Smith and Laissez Faire." Journal of Political Economy 35.2 (1927): 198. Print. 
            %li
              %a Wood, John Cunningham. Adam Smith, Critical Assessments. London: Routledge, 1994. Print. 



