- provide(:title, "Read Article")
%h1= @article.title
%li.author
  AUTHORS
  - @article.authors.each do |author|
    = author.first_name
    = author.last_name
%ul
  %li#abstract= "ABSTRACT: #{@article.abstract}"
  %li.section
    - @article.sections.each do |section|
      CONTENT
      = section.heading
      = section.content
