- provide(:title, "Read Article")
%h1= @article.title
%ul
  %li#abstract= @article.abstract
  %li.author
    - @article.authors.each do |author|
      = author.first_name
  %li.section
    - @article.sections.each do |section|
      = section.heading
      = section.content

