- provide(:title, "Read Article")
%h1= @article.title
%li.author
  AUTHORS
  - @article.authors.each do |author|
    = author.first_name
    = author.last_name
%ul
  %li#abstract= "ABSTRACT: #{@article.abstract}"
  %li.section
    - @article.sections.each do |section|
      CONTENT
      = section.heading
      = section.content
  %li.cited_articles
    - @article.cited_articles.each do |citation|
      CITED ARTICLE
      = citation.title
  %li.citing_articles
    - @article.citing_articles.each do |citing|
      CITED BY
      = citing.title


