- provide(:title, "Read Article")
%h1= @article.title
.author
  - @article.authors.each do |author|
    = author.first_name
    = author.last_name
.source
  = @article.publication.journal.name
  = link_to "Cite this paper", cite_article_path(@article)
#table_of_contents
  Contents
  %ul
    - @article.sections.each do |section|
      %li= link_to "#{section.heading}", '#'
#content
  -@article.sections.each do |section|
    .section
      %h3= section.heading
      %p= section.content
.references
  #citation
    %h3 
      Cite this paper
      = link_to "Click here", cite_article_path(@article)
  #bibliography
    %h3 Bibliography
    %ul
      %li
        - @article.cited_articles.each do |citation|
          =link_to Citation.build_citation(citation), "#"